@model IPagedCollection
@{
    Layout = "~/Views/Shared/Scaffolding/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-heading">
            @Raw(Page.Title)
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        @Html.Resource("Common", "Actions")
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="@Url.New()">@Html.Resource("Common", "Add")</a>
                        </li>
                        <li>
                            <a href="@Url.Destroy()">@Html.Resource("Common", "Destroy")</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            @Html.Grid(Model, new { @class = "table table-striped" })
        </div>
    </div>
</div>

